section {
    margin-top: 5px;;
}

.nav-link {
    color: rgb(193, 238, 167) !important;


}


.card {

    border-radius: 10% 10% 4% 4%;
 }

.card img {
    border-radius: 10% 10% 0 0;
}

.title-col {

    color: #445025;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

